@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


@theme{
  --color-dev-black: #111111;
  --color-dev-white: #F2F2F2;
  --color-dev-cyan: #59CE8F;
  --font-dev-font1: 'Montserrat', sans-serif;
  --font-dev-font2: 'Roboto Mono', monospace;

  --color-des-white: #F2F2F2;
  --color-des-black: #111111;
  --color-des-organe: #FF7517;
  --font-des-font1: 'Fustat', cursive;
  --font-des-font2: 'Inter', sans-serif;

}